/* Stile per il banner */

body {
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
}

/*carosello */

body {
  background-color: #262626;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.carousel-indicators {
  bottom: 14%;
}

.carousel-indicators li {
  display: inline-block;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #666;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
  background-color: #fff;
}

/*
inspired from https://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
.carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
.carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
.carousel-fade .carousel-inner > .item.prev.right,
.carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-caption {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 300;
  width: 100%;
  position: absolute;
  bottom: -12px;
  left: -30%;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #000000;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}

.btn-teo-caption {
  width: 155px;
  border-radius: 500px !important;
  border: 3px solid #106470;
  margin-top: 6px;
  margin-right: 21%;
  background-color: #106470;
  font-weight: bold;
  color: white;
}

.btn-teo-caption:hover {
  background-color: white;
  color: #106470;
  border: 3px solid #106470;
  transition-property: ease 1s;
}

#caption1-button {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  bottom: -10px;
  left: 40%;
  color: black;
  text-decoration: none;
}

























/* Stile per i link */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Stile per il bottone */
input[type="submit"],
.card-buttons button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover,
.card-buttons button:hover {
  background-color: #333333;
}

input[type="submit"]:active,
.card-buttons button:active {
  background-color: #222222;
}

.card-details {
  color: #000000;
}

.containerp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: calc(33.33% - 20px);
  padding: 10px;
  box-sizing: border-box;
}

.well {
  background: transparent;
  border-style: none;
}

.col-md-3:hover {
  box-shadow: 1px 5px 25px #ccc;
}

.thumbnail {
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 250px;
  border: none; /* Rimuovi il bordo nella thumbnail */
}

.inner {
  margin-left: 0px;
}

.item {
  width: 100%;
  padding: 0;
  margin-top: 5px;
  box-shadow: 1px 5px 15px #ccc;
  height: 300px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
  box-shadow: 0px 1px 25px #ccc;
}

.item.list-group-item .list-group-image {
  margin-right: 5px;
  border: none; /* Rimuovi il bordo nella thumbnail */
}

.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  border: none; /* Rimuovi il bordo nella thumbnail */
}

.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img {
  float: left;
}

.item.list-group-item:after {
  clear: both;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 210px;
  height: 178px;
  object-fit: cover;
  border-radius: 5px;
}

.card h4 {
  margin-top: 10px;
}

.card p {
  margin-top: 5px;
}

.card-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card-buttons button {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 15px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cart-qnt {
  width: 30px; /* Imposta la larghezza desiderata */
  height: 30px; /* Imposta l'altezza desiderata */
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  /* Aggiungi altri stili desiderati */
}

.separator {
  background-color: black;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content {
  text-align: center;
  padding: 20px 0;
}

.text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* Stile per dispositivi mobili */
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .banner {
    width: 100%;
    height: 200px;
  }

  .video {
    width: 100%;
  }

  .video video {
    height: 200px;
  }

  .containerp {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .row {
    margin: -5px;
  }

  .col {
    padding: 5px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  input[type="submit"],
  .card-buttons button {
    width: 100%;
  }
}
